{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block customer_scripts %}
    <script language="javascript" type="text/javascript" src="/static/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/tablefilter.min.js"></script>
    <script type="text/javascript">
(function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {
	var _input;
	function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
				Arr.forEach.call(tbody.rows, _filter);
			});
			});
			}
			function _filter(row) {
				var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
				row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
				}
			return {
                init: function() {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function(input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
    })(Array.prototype);
	document.addEventListener('readystatechange', function() {
        if (document.readyState === 'complete') {
            LightTableFilter.init();
        }
    });
})(document);
    </script>
{% endblock %}
<style media="screen">
  .noPrint{ display: block; }
  .yesPrint{ display: block !important; }
</style>

<style media="print">
  .noPrint{ display: none; }
  .yesPrint{ display: block !important; }
</style>
{% block title %}Orders{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Monthly Orders</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Special Orders:</h4>
    </div>
  </div>
<input type="search" class='light-table-filter noPrint' data-table="special-table" placeholder="Filter">
<div class= "yesPrint">
<table class="order-table table">
    <tr>
        <th>Ordered By</th>
        <th>Item Ordered</th>
        <th>Quantity Ordered</th>
        <th>Date Ordered</th>
    </tr>
</table>
    <table class="special-table table table-hover" id="tablefilter">
    {% for order in specialorders %}
        {% if request.GET.month == all %}
        <tr>
            <td>{{ order.ordered_by }}</td>
            <td>{{ order.item }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.order_date }}</td>
        </tr>
        {% elif request.GET.month in order.oreder_date %}
        <tr>
            <td>{{ order.ordered_by }}</td>
            <td>{{ order.item }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.order_date }}</td>
        </tr>
        {% endif %}
    {% endfor %}
 </table>
 </div>

<div class="row">
    <div class="col-xs-12">
      <h4>Bulk Orders:</h4>
    </div>
  </div>

<input type="search" class='light-table-filter noPrint' data-table="bulk-table" placeholder="Filter">
<div class= "yesPrint">
<table class="order-table table">
    <tr>
        <th>Ordered By</th>
        <th>Item Ordered</th>
        <th>Quantity Ordered</th>
        <th>Date Ordered</th>
    </tr>
</table>
    <table class="bulk-table table table-hover" id="tablefilter">
    {% for order in bulkorders %}
        {% if request.GET.month == all %}
        <tr>
            <td>{{ order.ordered_by }}</td>
            <td>{{ order.item }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.order_date }}</td>
        </tr>
        {% elif request.GET.month in order.oreder_date %}
        <tr>
            <td>{{ order.ordered_by }}</td>
            <td>{{ order.item }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.order_date }}</td>
        </tr>
        {% endif %}
    {% endfor %}
 </table>
 </div>
<input class="noPrint" TYPE="button" onClick="window.print()" value="Print Report">

</div>

{% endblock content %}