{% extends "base.html" %}
{% load static %}{% load i18n %}
<style media="screen">
  .noPrint{ display: block; }
  .yesPrint{ display: block !important; }
</style>

<style media="print">
  .noPrint{ display: none; }
  .yesPrint{ display: block !important; }
</style>
<script type="text/javascript" language="javascript" src="static/js/project.js"></script>
<script language="javascript" type="text/javascript">
    $
    var tf = setFilterGrid("filtertable1");
</script>
{% block title %}Orders{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Monthly Orders</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Special Orders: {{ request.GET.month }}</h4>
    </div>
  </div>

<div class= "yesPrint">
<table class="table table-striped table-bordered table-condensed filterable" id="filtertable1">
 <tr>
    <th>Ordered By</th>
    <th>Item Ordered</th>
    <th>Quantity Ordered</th>
    <th>Date Ordered</th>
 </tr>
    {% for order in specialorders %}
        {% if request.GET.month == all %}
        <tr>
            <td>{{ order.ordered_by }}</td>
            <td>{{ order.item }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.order_date }}</td>
        </tr>
        {% elif request.GET.month in order.oreder_date %}
        <tr>
            <td>{{ order.ordered_by }}</td>
            <td>{{ order.item }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.order_date }}</td>
        </tr>
        {% endif %}
    {% endfor %}
 </table>
 </div>

<input TYPE="button" onClick="window.print()" value="Print Report   ">

</div>

{% endblock content %}